<p id="notice"><%= notice %></p>

<h1>Type Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_restaurants.each do |type_restaurant| %>
      <tr>
        <td><%= type_restaurant.name %></td>
        <td><%= link_to 'Show', type_restaurant %></td>
        <td><%= link_to 'Edit', edit_type_restaurant_path(type_restaurant) %></td>
        <td><%= link_to 'Destroy', type_restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Restaurant', new_type_restaurant_path %>
