<!DOCTYPE html>
<html>
  <head>
    <title>MyCourseWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ac7c51298a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <%= form_tag(restaurants_path, :method => "get",
          id: "search-form",
          class:"form-inline center col-xs-4 col-sm-4 col-md-4") do %>

        <%= text_field_tag :search,
            params[:search],
            placeholder: "Search Posts",
            class: "form-control mr-sm-2" %>

        <%= submit_tag "Search", class: "btn btn-outline-success" %>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
